<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ .FirstName }}({{ .Years }}) - {{ .Description }} - Linux man page</title>
        <link rel="stylesheet" type="text/css" href="/css/site.css" />
  </head>
  <body>
    <div class="linkfloater">
        <span>{{ .LastName }}'s Links</span><hr>
        {{ range .Links }}
          <a href="{{ .URL }}">{{ .Text }}</a><br />
        {{ end }}
   </div>

    <pre class="manheader">{{ .LastName | ToUpper }}({{ .Years }})                           Linux User's Manual                            {{.LastName | ToUpper}}({{.Years}})
    </pre>
    <h1>NAME</h1>
    <p class="subtext">
      {{ .FirstName }} {{ .LastName }} - {{ .Description | ToLower }}
    </p>

    <h1>SYNOPSIS</h1>
    <p class="subtext">
      {{ .LastName | ToLower }} 
      
      {{ range .Synopsis }}
        {{ $length := len .Parameters }}
        {{ if eq $length 0 }}  
          [--{{ .Name }}]
        {{ end }}

        {{ if gt $length 0 }}
          [--{{ .Name }} {{ .JoinParams }}]
        {{ end }}
      
      {{ end }}
    </p> 
    <h1>SUMMARY</h1>
    {{ range .Summary }}
      <p class="subtext">{{.}}</p>
    {{ end }}
    <h1>OPTIONS</h1>
    {{ range .Synopsis }}

      {{ $s := . }}
      {{ $parameterLength := len .Parameters }}
      {{ if gt $parameterLength 0 }}
        {{ range .Parameters }}
          <p class="subtext">--{{ $s.Name }} {{ .Type }}</p>
          {{ range .Details }}
            {{ $detailType := $s.GetIndentClass . }}
            
            {{ if eq $detailType "List" }}
              <p class="triplesubtext">
                {{ range .Items }}
                  {{ $urlLen := len .URL }}
                  {{ if eq $urlLen 0 }}
                    * {{ .Text }}<br />
                  {{ end }}
                  {{ if gt $urlLen 0 }}
                    * <a href="{{ .URL }}">{{ .Text }}</a>
                  {{ end }}
                {{ end }}
              </p>
            {{ end }}
            
            {{ if eq $detailType "Text" }}
              <p class="doublesubtext">
                {{ .Text }}
              </p>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

      
      {{ if eq $parameterLength 0 }}
        <p class="subtext">--{{ $s.Name }}</p>
        {{ range .Details }}
          {{ $detailType := $s.GetIndentClass . }}
          
          {{ if eq $detailType "List" }}
            <p class="triplesubtext">
              {{ range .Items }}
                {{ $urlLen := len .URL }}
                {{ if eq $urlLen 0 }}
                  * {{ .Text }}<br />
                {{ end }}
                {{ if gt $urlLen 0 }}
                  * <a href="{{ .URL }}">{{ .Text }}</a>
                {{ end }}
              {{ end }}
            </p>
          {{ end }}
          
          {{ if eq $detailType "Text" }}
            <p class="doublesubtext">
              {{ .Text }}
            </p>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </body>
</html>
